<div class="container mt-4">
  <h2>Cadastro de Agenda</h2>

  <form #formAgenda="ngForm" (ngSubmit)="salvar()" novalidate>
    <input [(ngModel)]="titulo" name="titulo" placeholder="Título" required class="form-control mb-2"
       [ngClass]="{'is-invalid': formAgenda.submitted && formAgenda.controls['titulo']?.invalid}">
    <div *ngIf="formAgenda.submitted && formAgenda.controls['titulo']?.invalid" class="text-danger">
      Título é obrigatório.
    </div>

    <input [(ngModel)]="dataInicio" name="dataInicio" type="date" required class="form-control mb-2"
       [ngClass]="{'is-invalid': formAgenda.submitted && formAgenda.controls['dataInicio']?.invalid}">
    <div *ngIf="formAgenda.submitted && formAgenda.controls['dataInicio']?.invalid" class="text-danger">
      Data de início é obrigatória.
    </div>

    <input [(ngModel)]="dataFim" name="dataFim" type="date" required class="form-control mb-2"
       [ngClass]="{'is-invalid': formAgenda.submitted && formAgenda.controls['dataFim']?.invalid}">
    <div *ngIf="formAgenda.submitted && formAgenda.controls['dataFim']?.invalid" class="text-danger">
      Data de fim é obrigatória.
    </div>

   <textarea [(ngModel)]="descricao" name="descricao" placeholder="Descrição" required class="form-control mb-2"
          [ngClass]="{'is-invalid': formAgenda.submitted && formAgenda.controls['descricao']?.invalid}"></textarea>
    <div *ngIf="formAgenda.submitted && formAgenda.controls['descricao']?.invalid" class="text-danger">
      Descrição é obrigatória.
    </div>

    <select [(ngModel)]="enumSituacao" name="enumSituacao" required class="form-select mb-3"
        [ngClass]="{'is-invalid': formAgenda.submitted && formAgenda.controls['enumSituacao']?.invalid}">
    <option [ngValue]="null">Selecione uma situação</option>
       <option *ngFor="let s of situacoes" [ngValue]="s.value">{{ s.label }}</option>
    </select>
    <div *ngIf="formAgenda.submitted && formAgenda.controls['enumSituacao']?.invalid" class="text-danger">
      Situação é obrigatória.
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>

  <div *ngIf="sucesso" class="alert alert-success mt-3">Cadastro realizado com sucesso!</div>
  <div *ngIf="erro" class="alert alert-danger mt-3">Erro ao cadastrar. Tente novamente.</div>
</div>
<app-footer></app-footer>